html * {
  font-family: monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  position: fixed;
  padding: 10px;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #251d24;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-title {
  font-size: 24px;
  color: orange;
}

.tile-title {
  font-size: 14px;
  color: beige;
}

.tile {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}

.meter-row {
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.meter-visual-container {
  height: 8px;
  width: 200px;
  background-color: darkred;
  padding: 2px;
}

.meter-visual-filler {
  height: 100%;
  background-color: orange;
}

.explorateur-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
}

.explorateur-cell {
  width: 9px;
  height: 18px;
  background-color: blue;
}
